.modalContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}

.nav{
    background-color: rgb(93, 94, 94);
    color: white;
    position: fixed;
    
}