.modalContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background-color: rgba(20,20,20,.5);
}

.nav{
    background-color: rgb(93, 94, 94);
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    padding-left: 5%;
    padding-top: 5px;
    font-size: 2rem;
    top: 0;
    padding-right: 5%;
}

.content-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}